@{
    ViewData["Title"] = "Home Page";
    List<AktualnostModel> Aktualnosti = ViewBag.Aktualnosti;
}


<div class="main-top">
    @* <img src="img\popartandywarholmarilyn.jpg" /> *@
    <div class="top-info">
        <h2>Dobrodošli!</h2>
        <p>Osnovna misija današnjega Narodnog muzeja Zadar obuhvaća sustavno sakupljanje, čuvanje, izlaganje, dokumentiranje, te stručnu i znanstvenu obradu pokretnih i nepokretnih predmeta civilizacijske, kulturne i prirodne baštine, nastale u razdoblju</p>
    </div>
    <div class="main-icons">
        <h2>Posjetite nas</h2>
        <i></i>
        <span>Gdje smo</span>
        <i></i>
        <span>Audio vodič</span>
        <i></i>
        <span>Info</span>
    </div>
</div>
<div class="main-aktualnosti">
    <div class="aktualnosti">
        <div class="aktualnosti-top">
            <h2>Aktualnosti</h2>
            <a>Vidi više <span uk-icon="chevron-right"></span></a>
        </div>
        <div class="uk-child-width-expand@s uk-text-center uk-grid-medium" uk-grid>
            @foreach (var aktualnost in Aktualnosti)
            {
                <div class="uk-width-1-4">
                    <div class="aktualnosti-card">
                        <div class="card-img">
                            <img src="@aktualnost.ImageUrl" />
                        </div>
                        <div class="date-banner">
                            <div class="date-text">@aktualnost.DateRange</div>
                            <div class="color-div"></div>
                        </div>
                        <span>@aktualnost.Category</span>
                        <h3>@aktualnost.Title</h3>
                        <h4>@aktualnost.Location</h4>
                        <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom">Vidi više</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>