@{
    ViewData["Title"] = "Home Page";
    List<AktualnostModel> Aktualnosti = ViewBag.Aktualnosti;
}


<div class="main-top">
    @*  <div class="slider-div">
    <div class="slider">
    <div>
    <div style="margin-bottom: 200px;">
    <img src="img\popartandywarholmarilyn.jpg" />
    </div>
    <div class="captions">
    <div class="slider-back"><span uk-icon="chevron-left"></span></div>
    <div>
    <h3>ZBIRKA ODJELA NMZ-a</h3>
    <h2>Najotrovnije zmije svijeta od 18. lipnja do 31. kolovoza 2018.</h2>
    </div>
    <div class="slider-next"><span uk-icon="chevron-right"></span></div>
    </div>
    </div>
    <div>
    <div style="margin-bottom: 200px;">
    <img src="img\popartandywarholmarilyn.jpg" />
    </div>            <div class="captions">
    <span>ZBIRKA 2</span>
    <h2>Naslov 2</h2>
    </div>
    </div>
    <div>
    <div style="margin-bottom: 200px;">
    <img src="img\popartandywarholmarilyn.jpg" />
    </div>            <div class="captions">
    <span>ZBIRKA 3</span>
    <h2>Naslov 3</h2>
    </div>
    </div>
    <div>
    <div style="margin-bottom: 200px;">
    <img src="img\popartandywarholmarilyn.jpg" />
    </div>            <div class="captions">
    <span>ZBIRKA 4</span>
    <h2>Naslov 4</h2>
    </div>
    </div>
    <div>
    <div style="margin-bottom: 200px;">
    <img src="img\popartandywarholmarilyn.jpg" />
    </div>            <div class="captions">
    <span>ZBIRKA 5</span>
    <h2>Naslov 5</h2>
    </div>
    </div>
    </div>
    </div> *@
    <div class="main-info" uk-grid>
        <div class="dobrodosli uk-width-1-1@xs uk-width-3-5@s uk-width-3-5@m uk-width-3-5@l">
            <h2>Dobrodošli!</h2>
            <p>Osnovna misija današnjega Narodnog muzeja Zadar obuhvaća sustavno sakupljanje, čuvanje, izlaganje, dokumentiranje, te stručnu i znanstvenu obradu pokretnih i nepokretnih predmeta civilizacijske, kulturne i prirodne baštine, nastale u razdoblju</p>
        </div>
        <div class="main-icons-div uk-width-1-1@xs uk-width-2-5@s uk-width-2-5@m uk-width-2-5@l">
            <h2>Posjetite nas</h2>
            <div class="main-icons">
                <a>
                    <img src="\img\where-we-are.svg" />
                    <span>Gdje smo</span>
                </a>
                <a>
                    <img src="\img\audio.svg" />
                    <span>Audio vodič</span>
                </a>
                <a>
                    <img src="\img\info.svg" />
                    <span>Info</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main-aktualnosti">
    <div class="aktualnosti">
        <div class="aktualnosti-top">
            <h2>Aktualnosti</h2>
            <a>Vidi više <span uk-icon="chevron-right"></span></a>
        </div>
        <div uk-grid>
            @foreach (var aktualnost in Aktualnosti)
            {
                <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-4@l">
                    <div class="aktualnosti-card">
                        <div class="card-img">
                            <img src="@aktualnost.ImageUrl" />
                        </div>
                        <div class="date-banner">
                            <div class="date-text">@aktualnost.DateRange</div>
                            <div class="color-div" style="background-color:@aktualnost.CategoryColor"></div>
                        </div>
                        <div class="aktualnosti-info">
                            <span style="color:@aktualnost.CategoryColor">@aktualnost.Category</span>
                            <h3>@aktualnost.Title</h3>
                            <h4>@aktualnost.Location</h4>
                        </div>
                        <div class="aktualnosti-btn">
                            <button class="uk-button uk-button-default uk-width-1-1">Vidi više</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>